.language-switcher {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.language-switcher button {
    background-color: #333;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.language-switcher button:hover {
    background-color: #444;
}