
  .container {
    display: flex;
    justify-content: center;
    gap: 20px; /* Отступ между кнопками */
    margin-bottom: 20px;
    margin-top: 20px;
  }
  // Применение стилей для кнопки
  .button_1 {

    color: rgb(95, 160, 250); // Установка цвета текста кнопки
    padding: 10px 20px; // Задание отступов вокруг текста кнопки
    border: none; // Удаление границы кнопки
    border-radius: 10px; // Закругление углов кнопки
    cursor: pointer; // Изменение курсора при наведении на кнопку
  }

  .button_2 {

    color: rgb(255, 75, 75); // Установка цвета текста кнопки
    padding: 10px 20px; // Задание отступов вокруг текста кнопки
    border: none; // Удаление границы кнопки
    border-radius: 10px; // Закругление углов кнопки
    cursor: pointer; // Изменение курсора при наведении на кнопку
  }
