.themeSwitcher {
  display: flex;
  justify-content: space-between;
  padding: 13px 16px;
  background-color: #eee;
  border-radius: 6px;
  border: 2px solid transparent;
  cursor: pointer;
}
.container {
  position: fixed;
  top: 10px;
  right: 10px;
}
