* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: PT Sans, sans-serif;
  color: #464646;
  background-color: #eee;
}

a {
  color: inherit;
  text-decoration: none;
}

.dark {
  background-color: #333;
  color: #fff;
}

.light {
  background-color: #fff;
  color: #333;
}
