:root {
    --color-white: #fff;
    --color-gray: #eee;
    --color-gray-light: #c4c4c4;
    --color-gray-dark: #999;
    --color-gray-light-2: #f4f4f4;
    --color-gray-light-3: #e4e4e4;
    --color-gray-3: #4d5057;
    --color-icon-gray: #929ca5;
    --color-icon-purple: #a876d0;
    --color-icon-purple-light: #c09cdd;
    --color-ui-gray-bg: #ededed;
    --color-ui-checkbox-bg: #666;
    --color-ui-lightgray: #f7f7f7;
    --color-link-blue: #1463d9;
    --color-ui-blue: #5677fc;
    --color-ui-blue-overlay: rgba(86, 119, 252, .12);
    --color-font-black: #464646;
    --color-font-gray: #757575;
    --color-ui-red: #d34c09;
    --color-ui-red-overlay: rgba(211, 76, 9, .12);
    --color-ui-red-second: #ff7e75;
    --color-ui-green: #64c178;
    --color-ui-green-overlay: rgba(100, 193, 120, .12);
    --color-ui-yellow: #e8a700;
    --color-ui-orange: #f9a21f;
    --color-ui-yellow-overlay: rgba(232, 167, 0, .12);
    --color-green: #0c8326;
    --color-ui-overlay: rgba(70, 70, 70, .5);
    --color-input-focus: #f5f6f7;
    --color-light-purple: #dbdbff;
    --color-light-purple2: #8F7BF6;
    --color-button-range-active: #be86eb;
    --color-chip-bg-inactive: #ebf3ff;
    --color-chip-bg-hover: #d1e4ff;
    --color-chip-bg-press: #b8d5ff;
    --color-chip-border: #a3c4f5;
    --color-bar-blueviolet: #9f8cfa;
    --color-blueviolet-gradient: linear-gradient(90deg, #b09fff 0%, #8d79f6 100%);
    --color-bar-grey: rgba(237, 237, 237, .6);
    --color-toggle-border: #9783fc;
}