.container {
    font-family: Arial, sans-serif;
    color: #333333;
    font-size: 16px;
    line-height: 1.5;
    
}

.tags {
    margin-top: 10px; 
}

.tags span {
    display: inline-block; 
    padding: 8px; 
    background-color: #007bff; /* изменение цвета фона */
    color: #ffffff; 
    border-radius: 5px; 
    margin-right: 8px; 
    font-size: 12px; 
}

.tags span:last-child {
    margin-right: 0;
}

.question {
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: space-between;
    align-items: center;
}

.large {
    font-size: 1.5rem; /* увеличение размера шрифта */

    color: #101828; 
}

.accord {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    border-bottom: 1px solid #cccccc; /* изменение цвета границы */
}

.faqList {
    max-width: 800px; /* увеличение максимальной ширины */
    margin: 0 auto; /* центрирование на странице */
}

.title {
    margin-top: 2rem; /* увеличение отступа сверху */
    margin-bottom: 1rem;
    font-size: 2rem; /* уменьшение размера шрифта */
    font-weight: bold; /* усиление шрифта */
    text-align: center;
}
.filterContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px; /* добавим отступ снизу */
    border: 1px solid #ccc; /* добавим рамку */
    padding: 10px; /* добавим отступ внутри рамки */
}

.label {
    margin-right: 10px; /* добавим отступ справа для метки */
}

/* Обновленные стили для селекта */
.select {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}