.container {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    color: #475467;
    font-size: 1rem;
    line-height: 1.5;
}

.list {
    padding-left: 32px;
}

.question {
    display: flex;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
}

.large {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.125rem;
    line-height: 1.5;
    letter-spacing: normal;
    font-weight: 500;
    color: #101828;
}

.accord {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    align-items: stretch;
    border-bottom: 1px solid #eaecf0;
}

.faqList {
    max-width: 48rem;
    margin-right: auto;
    margin-left: auto;
}

.title {
    margin-top: 0rem;
    margin-bottom: 0rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    color: #101828;
    font-size: 2.25rem;
    line-height: 1.3;
    font-weight: 600;
    text-align: center;
}